# Twitter Data Updates

This Python code will be used to update and append the data sets created in `TwitterData-Start.ipynb` since we can only access the Twitter data of the last 7 days.

In [1]:
# Import Dependencies
import os
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import tweepy

from config import consumer_key
from config import consumer_secret
from config import access_token
from config import access_token_secret
from config import token

In [2]:
# API Keys
consumer_key = consumer_key
consumer_secret = consumer_secret
access_token = access_token
access_token_secret = access_token_secret
token = token

## Count of Gas & Oil Tweets

In [3]:
query = "gas oil -is:retweet"
client = tweepy.Client(bearer_token=token)
counts = client.get_recent_tweets_count(query=query, 
                                        granularity='day')

In [4]:
Lst = []
# Dict = {}
for i in counts.data:
    Dict = {}
    Dict['Day'] = str(i["start"][0:10])
    Dict['Tweet Count'] = i["tweet_count"]
    Lst.append(Dict)
    # print(f'Day: ' + str(i["start"][0:10]) + ', Tweet Count: ' + str(i["tweet_count"]))

In [5]:
df = pd.DataFrame(Lst)
df = pd.DataFrame.from_dict(Lst)
df = pd.DataFrame.from_records(Lst)
# df.to_csv('tweet_count.csv', index=False) 
update_df = df.iloc[-2:-1]

In [6]:
update_df

          Day  Tweet Count
6  2022-12-05         6094

In [8]:
df

          Day  Tweet Count
0  2022-11-29         5702
1  2022-11-30         7126
2  2022-12-01         5882
3  2022-12-02         5213
4  2022-12-03         5113
5  2022-12-04         4672
6  2022-12-05         6094
7  2022-12-06          840

In [7]:
update_df.to_csv('tweet_count.csv', mode='a', index=False, header=False)

## Adding Recent Tweets

In [ ]:
start = '2022-12-05T00:00:00.000Z'
end = '2022-12-06T00:00:00.00Z'

tweets_list = []

tweets = tweepy.Paginator(client.search_recent_tweets, query=query,
                          tweet_fields=['context_annotations', 'created_at'],
                          start_time=start, 
                          end_time=end,
                          max_results=100).flatten(limit=10000)

for tweet in tweets:
    tweets_list.append(tweet.text)
    
len(tweets_list)

In [ ]:
tweet_df = pd.DataFrame(tweets_list)
tweet_df.columns = ['2022-12-05']
tweet_df = tweet_df.drop_duplicates()
tweet_df.to_csv('2022-12-05.csv', index=True) 
len(tweet_df)

In [ ]:
all_tweets = pd.read_csv("./tweets.csv")

In [ ]:
all_tweets = all_tweets.join(tweet_df, how='outer')

In [ ]:
all_tweets = all_tweets.drop(columns=['Unnamed: 0'])
all_tweets

In [ ]:
all_tweets.to_csv('tweets.csv')

In [ ]:
all_tweets = all_tweets.dropna()
all_tweets.to_csv('tweets_clean.csv')

In [ ]:
all_tweets